/* INLINE, BLOCK, INLINE-BLOCK */

/* inline: span, a, strong */

/* block: h1,..., h6, div, form, footer, main, p */

/* inline-block: button, input */


/* BOX MODEL - modelo de caixa retangular - 4 camadas */

body {
  margin: 0;
  height: 100vh;
  display: flex;
}

button {
  /* display: block; */
  /* margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto; */

  margin: auto;
}